body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: papayawhip;
    color: #343a40;
    margin: 0;
    padding: 0;
}

/* Main Content Styles */
main .container {
    margin-top: 20px;
}


h1 {
    color: #495057;
    margin-bottom: 20px;
}

select {
    width: 30%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.mountain-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mountain-container h2 {
    color: #007bff;
}

.mountain-container p {
    margin: 10px 0;
}

.mountain-container img {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}

/* Footer Styles */
footer {
    background-color: #6c757d;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Media Queries */
@media (max-width: 768px) {
    .mountain-container {
        padding: 10px;
    }
}